h2{
    font-size: 50px;
}

.Contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100rem;
    height: 70rem;
    margin: 10px 0;
    padding: 3rem;
    border-radius: 43px;
    border-radius: 43px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow:  12px 12px 18px #a7a7a7,
                -12px -12px 18px #ffffff;
}

.Up-Image{
    font-size: 15px;
}

.Up-Image:hover::file-selector-button{
    box-shadow: none;
    transform: translate(3px, 3px);
}

.Up-Image::file-selector-button{
    width: 220px;
    height: 50px;
    color: #fafafa;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    background: #252525;
    box-shadow: 3px 3px #666666;
    cursor: pointer;
    margin: 35px 0;
}

.Edit-Area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}



.Shirt-Rectangle{
    position: relative;
    display: flex;
    justify-content: center;
}

.Shirt{
    border-radius: 38px;
    height: 780px;
    width: 650px;
    background: url("/public/shirt.png"), url("/public/shirt-mask2.jpg");
    /* background-color:#eeeeee; */
    background-blend-mode: multiply;
    z-index: 0;
}

.Shirt-mask{
    position:absolute;
    border-radius: 35px;
    z-index: 70;
}

.Img-Select-Butn{
    font-size: 20px;
    background: #b6b6b6;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
}

.Img-Select-Butn:hover {
    transform: translate(-2.07em, -2 .07em);
    box-shadow: 0.15em 0.15em;
   }
   
   .Img-Select-Butn:active {
    transform: translate(0.09em, 0.09em);
    box-shadow: 0.05em 0.05em;
   }

.Img-mobil{
    position: absolute;
    width: 140px;
    z-index: 10;
}

.Default-img-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 80px;
    top: 220px;
    left: 315px;
}
.Img-default{
    position: absolute;
    width: 140px;
    height: 200px;
    z-index: 0;
    top: -60px;
}

.Img-default-text{
    font-size: 30px;
    font-weight: 900;
    z-index: 20; 
    padding: 20px;   
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: rgb(170, 170, 170);
    background-color: #e9e9e975; 
    border-radius: 30px;
}

.Btn-Pos:hover, .Btn-color:hover, .Pos-Icon:hover{
    cursor: pointer;
}


